*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

$lightGreen: #b9e7e7;

.app {
  display: flex;
  justify-content: center;
  .container {
    max-width: 1024px;
    width: 100%;
    padding: 0 10px;

    .link {
      text-decoration: none;
      color: inherit;
    }
    //login & Register
    .auth {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: $lightGreen;

      h1 {
        font-size: 20px;
        color: teal;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 40px;
        background-color: #fff;
        max-width: 280px;
        width: 100%;
        gap: 20px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
        }

        button {
          padding: 10px;
          border: none;
          background-color: teal;
          color: #fff;
          cursor: pointer;
        }
        p {
          text-align: center;
          font-size: 12px;
          color: red;
        }
        span {
          text-align: center;
          font-size: 12px;
        }
      }
    }

    //Navbar
    .navbar {
      z-index: 1;
      position: relative;
      .container {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
          img {
            width: 120px;
            @media (max-width: 450px) {
              width: 100px;
            }
          }
        }
        .links {
          display: flex;
          align-items: center;
          gap: 10px;
          position: relative;

          .mobile-profile {
            position: relative;
            p {
              cursor: pointer;
            }
            .mobile-drop {
              top: 35px;
              position: absolute;
              display: flex;
              flex-direction: column;
              gap: 10px;
              background-color: rgb(206, 198, 198);
              padding: 20px;
            }
          }
          .logout {
            @media (max-width: 450px) {
              display: none;
            }
          }

          .mobile-categories {
            display: none;
            align-self: center;
            width: 100%;
            // margin-right: 10px;
            cursor: pointer;

            @media (max-width: 768px) {
              display: block;
            }
          }
          &__wrapper {
            display: flex;
            gap: 10px;

            @media (max-width: 768px) {
              flex-direction: column;
              position: absolute;
              top: 50px;
              background-color: rgb(230, 221, 221);
              padding: 20px;
            }
          }

          h6 {
            font-size: 16px;
            font-weight: 300;
          }
          span {
            cursor: pointer;
          }
          .write {
            flex-shrink: 0;
            background-color: $lightGreen;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 300;
            transition: all 0.2s ease-in-out;
            border: 1px solid transparent;

            &:hover {
              color: teal;
              border: 1px solid teal;
              background-color: #fff;
            }
          }
        }
      }
    }

    //Footer
    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: $lightGreen;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 50px;
      }
    }

    //Home
    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;

        .post {
          display: flex;
          gap: 100px;

          @media (max-width: 600px) {
            flex-direction: column;
            gap: 30px;
            & img {
              max-height: 300px;
            }
          }

          &:nth-child(2n + 1) {
            flex-direction: row-reverse;

            @media (max-width: 600px) {
              flex-direction: column;
            }
          }

          .img {
            flex: 2;
            position: relative;
            margin-left: 20px;

            &::after {
              content: "";
              position: absolute;
              top: 20px;
              left: -20px;
              width: 100%;
              height: 100%;
              background-color: $lightGreen;
              z-index: -1;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 3;

            & * {
              word-break: break-all;
            }
            h1 {
              font-size: 30px;
            }
            .text {
              font-size: 16px;
              word-break: break-all;
              margin-bottom: 20px;
            }
            button {
              width: max-content;
              padding: 10px 20px;
              border: 1px solid teal;
              cursor: pointer;
              background-color: #fff;
              color: teal;
              transition: all 0.2s ease-in-out;

              &:hover {
                color: black;
                border: 1px solid #fff;
                background-color: teal;
              }
            }
          }
        }
      }
    }

    //Single
    .single {
      display: flex;
      gap: 50px;
      @media (max-width: 768px) {
        flex-direction: column;
      }

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        & .user + * {
          padding-bottom: 10px;
          color: #333;
          border-bottom: 1px solid rgb(187, 178, 178);
        }
        
        & * {
          word-break: break-all;
          color: rgb(64, 63, 63);
        }

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .user {
          display: flex;
          gap: 10px;
          align-items: center;
          font-size: 14px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
          span {
            font-weight: 700;
          }
        }
        .edit {
          display: flex;
          gap: 10px;

          img {
            width: 30px;
            height: 30px;
            cursor: pointer;
          }
        }

        h1 {
          font-size: 36px;
        }
        p {
          text-align: justify;
        }
      }
      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          font-size: 20px;
          color: #555;
          padding-bottom: 20px;
          border-bottom: 1px solid rgb(187, 178, 178);
        }
        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding-bottom: 20px;
          border-bottom: 1px solid rgb(187, 178, 178);

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }
          h2 {
            color: #555;
            word-break: break-all;
          }
          button {
            width: max-content;
            padding: 10px 20px;
            border: 1px solid teal;
            cursor: pointer;
            background-color: #fff;
            color: teal;
            transition: all 0.2s ease-in-out;
            

            &:hover {
              color: black;
              border: 1px solid #fff;
              background-color: teal;
            }
          }
        }
      }
    }

    //Write
    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;
      @media (max-width: 768px) {
        flex-direction: column;
      }

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 10px;
          border: 1px solid lightgray;
        }
        .editContainer {
          height: 100%;

          @media (max-width: 768px) {
            .ql-editor {
              min-height: 100px;
            }
          }

          .editor {
            height: calc(100% - 42px);
            border: none;

            * {
              word-break: break-all;
            }
          }
        }
      }
      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (max-width: 768px) {
          flex-direction: column-reverse;
        }

        .item {
          padding: 10px;
          border: 1px solid lightgray;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 5px;
          font-size: 12px;
          color: #555;

          h1 {
            font-size: 20px;
          }
          .file {
            text-decoration: underline;
            cursor: pointer;
          }
          .buttons {
            display: flex;
            justify-content: space-between;

            :first-child {
              cursor: pointer;
              color: teal;
              background-color: #fff;
              border: 1px solid teal;
              padding: 5px 8px;
            }
            :last-child {
              cursor: pointer;
              color: #fff;
              background-color: teal;
              border: 1px solid teal;
              padding: 5px 8px;
            }
          }
          .cat {
            display: flex;
            align-items: center;
            color: teal;
            gap: 5px;
          }
        }
      }
    }
  }
}
